
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  
}

.products {
  display: flex;
  height: 90vh;
  align-items:stretch;
  justify-content:center;
  font-size: 3rem;
  background:#ffffff ;
}

/* .reports{
  margin: 80px;
  border: 50px;
  padding-left: 80px;
} */

/* .reports.h1{
 text-align: center;
} */
.home .content h1{ 
  display: flex;
  height: 100%;
  align-items:stretch;
  justify-content:center;
  font-size: 3rem;
  background:#7e7c7c ;
}
.home .content p{
  align-items: center;
  background-color: lightgrey;
  width:95%;
  border: 10% solid rgb(59, 170, 59);
  padding: 3%;
  margin: 2%;
}
.home .content .image .form-img4{
  align-items: center;
  
  width:20%;
  height: 10%;
  border:solid;
  padding: 3%;
  margin: 2%;
}
.home .content  p .image .form-img3,.form-img2, .form-img{
  
  width:20%;
  height: 20%;
  border:solid;
  padding: 3%;
  margin: 2%;
}
.home .content p .buttons .btn3{
  
  
  width: 30%;
  height: 3%;
  margin-left: 15%;
  margin-top:5%;
  border-radius: 5px;
  background: linear-gradient(to bottom, #0033cc 0%, #33ccff 100%);
  outline: none;
  border: none;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
.home .content .buttons .btn2{
  
  width: 30%;
  height: 3%;
  margin-left: 15%;
  margin-top:5%;
  border-radius: 5px;
  background: linear-gradient(to bottom, #0033cc 0%, #33ccff 100%);
  outline: none;
  border: none;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
/*
***Start***
Search dropdown
 */

/* .search-bar-dropdown{
  width: 20em;
}

#results{
  position: absolute;
}

#search-bar{
  width: inherit;
}

.btnSearch {
  padding: 10px;
} */

/*
***End***
Search dropdown
 */

/* .colour&quantity{
  margin-left: 200px;
} */
