@import url('https://fonts.googleapis.com/css2?family=Allura&family=Milonga&family=Miltonian+Tattoo&family=New+Rocker&display=swap');
.Team {
    box-sizing: border-box;
    margin: 0%;
    padding: 1%;
  }

.Team body{
  background: linear-gradient(to bottom right, #ffffcc 0%, #333300 100%);
  }
 

.Team .wrapper h1{
  margin-bottom: 2.5%;
    font-family: 'Allura', cursive;
  font-size: 52px;
  text-align: center;
    font-weight: bolder;
}

.Team .team1,.team2{
  display:flex;
  text-align:center;
  width: auto;
  justify-content: center;
  flex-wrap:wrap;
}

.Team .team1 .team-member{
  background:#fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 25px;
  color: #8e8b8b;
  /*position: relative;*/
}
.Team .team2 .team-member{
  background:#fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  /*position: relative;*/
}
.Team .team1 .team-member h3{
  color: #7e9ad6;
  font-size: 23px;
  font-family: 'Milonga', cursive;
  margin-top: -15%;
}
.Team .team2 .team-member h3{
  color: #7e9ad6;
  margin-top: -15%;
  font-size: 23px;
  font-family: 'Milonga', cursive;
}
.Team .team1 .team-member p{
  text-align: justify;
}
.Team .team2 .team-member p{
  text-align: justify;
}
.Team .team1 .team-member p.role{
  color:rgb(142, 182, 177);
  font-size: 12px;
  text-transform: uppercase;
  margin: 12px 0;
}
.Team .team2 .team-member p.role{
  color:rgb(142, 182, 177);
  font-size: 12px;
  text-transform: uppercase;
  margin: 12px 0;
}
.Team .team1 .team-member .team-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position:relative;
 left: 60%;
top: -20%;

  /*background: #7bf5f5;*/
  background: #fff;
}
.Team .team2 .team-member .team-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /*position: relative;*/
  position:relative;
 left: 60%;
top: -20%;
  
  /*background: #7bf5f5;*/
  background: #fff;
}
.Team .team1 .team-member .team-img img{
  width: 100px;
  padding: 6px;
  border-radius: 50%;
  height: 100px;
} 
.Team .team2 .team-member .team-img img{
  width: 100px;
  padding: 6px;
  border-radius: 50%;
  height: 100px;
} 
 