<html>
	<head>
		<title>{{t}}</title>
		<!-- href="/static/assets/style.css"-->
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
	</head>
<body>
	<h1>{{ h }}</h1>
	<ul>
		<li><a href="/" class="{{ a1 }}">ALL</a></li>
	</ul>
	<hr>
	{% if todos[0] %}
	<div span="right" >
	<form action="/search"	method="GET" >
		<table class="none" id="close">
		<tr>
		<td></td><td></td>
		<td><b>Search Reference:</b></td>
		<td><select name="refer" required>
			<option value="JobNo">JobNo</option>
			<option value="ItemCode">ItemCode</option>
			<option value="ColorGroup">ColorGroup</option>
			<option value="Total_Quantity">Total_Quantity</option>
			<option value="Total_Wastage">Total_Wastage</option>
		</select></td>
		<td><input type="text" name="key" placeholder="Search" size="15" /></td>
		<td><button type="submit">Search</button></td>
		</tr>
		</table>
	</form>
	</div>
	<b>Elastic LIST :</b>
	<table>
	    <tr id="row">
	    	<th class="JobNo">JobNo</th>
	    	<th class="ItemCode">ItemCode</th>
	    	<th class="ColorGroup">ColorGroup</th>
			<th class="Total_Quantity">Total_Quantity</th>
			<th class="Total_Wastage">Total_Wastage</th>
	    	<th class="waste_pecentage">waste_pecentage</th>
	    </tr>
	{% for todo in todos %}
		<tr class="datas">
			<td class="JobNo">{{ todo["JobNo"] }}</td>
			<td class="ItemCode">{{ todo["ItemCode"] }}</td>
			<td class="ColorGroup">{{ todo["ColorGroup"] }}</td>
			<td class="Total_Quantity">{{ todo["Total_Quantity"] }}</td>
			<td class="Total_Wastage">{{ todo["Total_Wastage"] }}</td>
			<td class="waste_pecentage">{{ todo["waste_pecentage"] }}</td>
			
		</tr>
	{% endfor %}
	</table>
	{% else %}
		<h4>No Tasks in the List !!</h4>
	{% endif %}
	<hr/>
	
</body>
</html>
