<html>
	<head>
		<title>{{t}}</title>
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
	</head>
<body>
	<h1>{{h}}</h1>
	<hr>
	{% if todos[0] %}
	<h3>Result of the Search : Elastic List</h3>
	<table>
	    <tr id="row">
	    	<td class="JobNo">JobNo</td>
	    	<td class="ItemCode">ItemCode</td>
	    	<td class="ColorGroup">ColorGroup</td>
	    	<td class="waste_pecentage">waste_pecentage</td>
	    </tr>
		{% for todo in todos %}
		<tr class="datas">
			<td class="JobNo">{{ todo["JobNo"] }}</td>
			<td class="ItemCode">{{ todo["ItemCode"] }}</td>
			<td class="ColorGroup">{{ todo["ColorGroup"] }}</td>
			<td class="waste_pecentage">{{ todo["waste_pecentage"] }}</td>
		</tr>
		{% endfor %}
	{% else %}
		<h4>No Result Found !!</h4>
	{% endif %}
	</table>
	<a href="/">Return to Main</a>
</body>
</html>
